.header {
  overflow: hidden;
  padding: 63px 10px 20px;
  position: relative;
  z-index: 9;

  img {
    position: absolute;
    top: 10px;
  }
}

.header a {
  float: left;
  text-align: center;
  padding: 0 12px;
  text-decoration: none;
  font-size: 25px;
  font-family: Open Sans;
  letter-spacing: 0;
  color: #222;

  &:hover {
    text-decoration: underline;
  }
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

::ng-deep {
  .ui-button {
    outline: none;

    &.login {
      box-shadow: 0px 0px 20px #00000033;
      border: 2px solid #663399;
      border-radius: 24px;
      width: 75px;
      height: 36px;
      background-color: transparent;
      color: #663399;
      font-size: 15px;
      font-family: Montserrat;
      font-weight: 500;
      margin-right: 15px;
      margin-left: 10px;

      &.get-started {
        width: 130px;
      }

      &:hover {
        background-color: #663399 !important;
        border: 2px solid #663399 !important;
        color: #fff !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
