div {
.ui-g-2{
    padding: 0;
}
.ui-g-10{
    padding: 0;
    height: 30px;
}
.jumbotron{
    margin-bottom: 0;
    .main-content{
        padding: 0;
    }
}
}

body {
    background: #FCFCFF 0% 0% no-repeat padding-box;
    position: relative;
}