<div class="body">
  <div class="login">
    <h1>Admin Login</h1>
    <form>
      <label for="username">
        <i class="fas fa-user"></i>
      </label>
      <input type="text" name="username" placeholder="Username" id="username" required>
      <label for="password">
        <i class="fas fa-lock"></i>
      </label>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <input type="button" value="Login" (click)="loginClick()">
      <button pButton type="button" label="Click" ></button>
    </form>
  </div>
  <div class="logins">
    <a (click)="registrationClick()">Registration</a> |
    <a href="#">Forget Password</a>
  </div>
</div>